main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.quotes-title {
  margin-top: 50px;
}

.profile-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.profile-container input[type="submit"]:hover {
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.15);
}

.table {
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(105, 104, 104, 0.438);
}

.btn-reject,
.btn-accept {
  margin-left: 5px;
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  background-image: linear-gradient(45deg, #3798b5, #9ae4ff);
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  width: 25px;
  height: 25px;
}

.btn-reject:hover,
.btn-accept:hover {
  color: rgb(61, 106, 120);
}

.btns {
  width: 100px;
}

.btn-reject:disabled {
  background-color: #878787;
  background-image: none;
  color: #ccc;
}

.table .status-accepted {
  color: green;
}
.table .status-rejected {
  color: red;
}
